body {
  margin: 0;
  overflow: hidden;
}

#ui {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#msg {
  font-size: 30px;
  color: #00ff00;
  display: none;
}

#score {
  font-size: 20px;
}